body{
 background: rgb(245, 206, 213)
}
h1 {
    font-size: 60px;
    color tgb ( 210,190, 14);
    text-align: center;
}
p {
    font-size: 30px;
    color: black ( 210, 190, 14);
    text-align: justify;
}
img